* {
    margin: 0;
    padding: 0;
    font-family: 'Calistoga', cursive;
    box-sizing: border-box;
    font-weight: 100;
}

.logo {
    display: block;
    margin: 0 auto;
}

.message {
    text-align: center;
    font-size: 1.5rem;
}

@media only screen and (max-width: 1284px) {
    .logo {
        width: 375px;
        height: 165px;
    }
    .message {
        font-size: 10px;
    }
  }
